  <link rel="icon" href="https://fav.farm/📝" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icon/favicon-16x16.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icon/apple-touch-icon.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/icon/favicon.ico' | relative_url }}">
  <!-- <link rel="manifest" href="{{ '/assets/icon/site.webmanifest' | relative_url }}"> -->
</head>

