### Looking for new opportunities :)

<!--
Over 2024 and 2025 I've done consulting at small and big tech companies. I feel at a crossroads. 

I'm looking for work now.
-->


<!--
Here´s how I see that the market perceives me, and where I can provide the most value.  
This is my Candidate-Market Fit [CMF]:  
-->

<div class="note">

  I´m looking to create real impact with a tech <strong>product</strong>, focusing on customer experience (CX), on industries like <strong>wellbeing, social impact, and media</strong>. I'm exploring these options: <br/><br/>

  • Co-founding a new company, solving a real problem, with great people that want to focus on the above industries. <br/>
  • As a hired, or consulting-contractor, Product Manager at a global company in a US timezone, where I can bring value with trilingual skills in English, Spanish and Portuguese.  <br/><br/>
  
  If you're building, or looking into partnering, and/or funding:  <br/><br/>
  <a href="https://calendly.com/venhamon" class="custom-button">    Let's meet!  </a>

</div>
