a{color: #63c0f5; text-decoration: none;}strong{font-weight: bold; /*font-variant: small-caps;/*color: yellow;opacity:.8*/}
aside,hr{color: #b5e853;opacity: 0.65;line-height: 1;font-size: 15px;}/*ul{list-style-type:none}*/
h1,h2,h3{line-height:1.2}h2{color: #b5e853;}h3,h4{font-variant: small-caps}figcaption,nav{display: block;}
body{background-color: black; margin:40px auto;max-width:650px;line-height:1.6;font-size:18px; color: #c4c4c4;padding:0 10px;
font-family: "Courier New", Courier, monospace /*Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace*/}

