body {margin: 5% auto; 
    background: #f2f2f2; 
    /* background: #99FF99 !important; */
color: #444444; font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.8; text-shadow: 0 1px 0 #ffffff; max-width: 73%;} code {background: white;} a {/*border-bottom: 1px solid #444444;*/ color: blue; /*color: #444444;*/ text-decoration: none;} a:hover {color: gray; text-decoration: underline; border-bottom: 0;} h1 {color:black} 
 aside {color: #666;opacity: 0.65;line-height: 1;font-size: 15px;}/*aside {font-size:0.8em;color:#666} */
p.small {
    font-variant: small-caps;
}
li.small {
    font-variant: small-caps;
}
mark#green{background-color:aqua};
div{height: 100px;}span{display: inline-block;vertical-align: middle;line-height: normal;} /*a#link{color:white}a#link:hover {color:red}*/
.nav ul {list-style: none;background-color: none;text-align: center;padding: 0;margin: 0;} .nav li {font-size: 1.2em;line-height: 40px;height: 40px;border-bottom: 1px border #888;}  .nav a {text-decoration: none; display: block;} .nav a:hover {background-color: 
none
/*#222222*/;border-style: none;border-color:none} .nav a.active {background-color: #fff;color: #444;cursor: default;} 
@media screen and (min-width: 600px) { .nav li {width: 120px;border-bottom: none;height: 50px;line-height: 50px;font-size: 1.2em;/*font-size: 1.4em;*/} .nav li {display: inline-block;margin-right: -4px;}
  }
